[Unit]
Description=Emacs: the extensible, self-documenting text editor
After=gpg-agent.service

[Service]
Type=forking
Environment=SSH_AUTH_SOCK=%h/.gnupg/S.gpg-agent.ssh
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"

[Install]
WantedBy=default.target
