[user]
	name = Martin Kjær Jørgensen
	email = mkj@gotu.dk
[core]
	editor = "emacs"
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto

[credential "https://git-codecommit.us-east-1.amazonaws.com"]
    helper = !aws-credentials-helper.py
	helper = !aws --profile saml codecommit credential-helper $@
 	UseHttpPath = true

[credential]
    helper = store
[diff]
	tool = emacs
[difftool "emacs"]
    cmd = emacs --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"
[merge]
    tool = ediff
[mergetool "ediff"]
    cmd = emacs --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"
